@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

html, body {
    overflow-x: hidden;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    color: #292F36;
}

p, li, figcaption {
    font-family: 'Raleway', sans-serif;
    color: #292F36;
    font-size: 11pt
}

img {
    width: 100%;
    height: 100%;
}

section {
    position: relative;
    padding: 4em 15pt;
    /* width: 100%; */
    /* margin: 0 auto; */
}

#about-me,
#work-and-skills,
#contact-me {
    z-index: 10;
    box-shadow: 0px 0px 50px rgba(0,0,0,0.6);
}

#about-me {
    background-color: #292F36;
}

#portfolio {
    background-color: #F1F6F4;
    color: #F6F9F8;
}

#work-and-skills {
    background-color: #292F36;
}

#others {
    background-color: #F1F6F4;
}

#contact-me {
    background-color: #292F36;
}

#copyright {
    background-color: #6A6394;
    margin: 0;
}

#about-me p, 
#about-me h1, 
#about-me h2, 
#about-me h3, 
#about-me li, 

#work-and-skills p, 
#work-and-skills h1,
#work-and-skills h2,
#work-and-skills h2 small,
#work-and-skills h3,
#work-and-skills h4,
#work-and-skills h5,
#work-and-skills li,
#work-and-skills li::before,

/*
#work p,
#work li,
#work h1,
#work h2,
#work h3 
*/
#this-makes-my-life-easy
{
    color: #F6F9F8;
}

.section-header {
    margin-bottom: 1em;
    text-align: center;
}

@media (max-width: 769px) {
    .container {
        width:570px;
    }
    .section-header {
        text-align: left;
    }

}

@media (max-width: 570px) {
    .container {
        width: 100%;
    }
}

/**********/
/* Resume */
/**********/

#resume {
    position: fixed;
    z-index: 999;
    background-image: url(../media/resume-icon.png);
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
    top: 10px;
    right: 10px;
    transition: 0.2s all ease 0s;
    text-decoration: none;
}

#resume p {
    opacity: 0;
    position: relative;
    top: 50px;
    transition: 0.2s all ease 0s;
}

#resume:hover {
    height: 55px;
    width: 55px;
    background-size: 55px 55px;
}

#resume:hover > p {
    opacity: 1;
    top: 55px;
}

/**********/
/* Header */
/**********/

header {
	height: 98vh;
    z-index: 0;
    display: flex;
    align-items: center;
}

#header-corner, #header-corner-2 {
    width: 500px;
    height: 400px;
    height: auto;
    position: absolute;
}

#header-corner {
    transform: rotate(180deg);
    top: 0px;
    right: 0px;
}

#header-corner-2 {
    left: 0px;
    bottom: 0px;
    z-index: -120;
}

#header {
    margin: 0 auto;
    text-align: center;
    width: 400px;
}

#header-sm {
    display: none;
    text-align: center;
    margin: 0 auto;
}

@media (max-width: 991px) {
    #header-corner {
        top: -50px;
    }
    
    #header-corner-2 {
        bottom: -50px;
    }
}

@media (max-width: 769px) {
    #header-corner {
        top: -100px;
    }
    
    #header-corner-2 {
        bottom: -100px;
    }
}

@media (max-width: 400px) {
    #header {
        display: none;
    }
    
    #header-sm {
        display: block;
    }
}

@media (max-width: 500px) {
    #header-corner {
        display: none;
    }
    
    #header-corner-2 {
        bottom: -150px;
    }
}

@media (max-height: 600px) {    
    #header-corner-2 {
       display: none;
    }
}

/*************************/
/* Introduction & Skills */
/*************************/



.flex-grid {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 auto
}

.container, .flex-grid {
    max-width: 840px;
    margin: 0 auto;
}

.row {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-grid > * {
    flex: 1;
    margin: 0 10px 10px 0;
    /* padding: 0 10pt; */
}

#intro h1 {
    /* margin-bottom: 0.8em; */
    font-size: 32pt;
}

/* #intro h2 {
    margin-bottom: 30pt;
    font-size: 18pt;
    line-height: 22pt;
    font-weight: lighter;
} */

#hahafunny {
    height: 100%;
    width: auto;
}

#skills h2 {
    font-weight: lighter;
    font-size: 14pt;
}

#skills ul {
    padding-left: 0;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
}

#skills li {
    /* width: 240px; */
    /* height: 71px; */
    padding: 5px;
    margin: 0 10px 10px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F6F9F8;
    font-size: 12pt;
    width: 95px;
    height: 30px;
    flex: 1;
}

.style-a-l { background-color: #4E7EAE; }
.style-a-m { background-color: #35597A; }
.style-b-l { background-color: #B73359; }
.style-b-m { background-color: #82223C; }
.style-c-l { background-color: #6A6394; }
.style-c-m { background-color: #514A72; }
.style-d-l { background-color: #5F6369; }
.style-d-m { background-color: #4A4D54; }

@media (max-width: 991px) {
    #intro, #portrait {
        /* float: right; */
        /* clear: left; */
    }
    #intro{
        /* width: 50%; */
    }
    
    #intro h2 {
        /* margin-top: 0; */
    }
    #portrait {
        width: 45%;
        margin-right: 5%;
        margin-bottom: 2em;
    }
    
    #skills li {
        /* height: 60px; */
    }
}

@media (max-width: 769px) {
    #intro, #portrait {
        /* clear: both; */
        /* float: none; */
        /* width: 100%; */
        /* margin: 0; */
    }
    
    #portrait {
        /* max-width: 350px; */
        /* margin: 0 auto; */
        /* text-align: center; */
    }
    
    #skills ul {
        /* flex-flow: row wrap; */
    }
    
    #skills li {
        /* flex: 1; */
    }

    .skill-l {
        font-weight: normal;
    }

    .skill-m {
        font-weight: lighter;
    }
}

/***********************/
/* Previous Employment */
/***********************/

.col-sm-left, .col-sm-right {
    width: 48%;
    float:left;
    display: block;
    padding: 0 15px;
}

.col-sm-right {
    float: right;
}

p.description {
    margin: 0 auto;
}

.proj-header {
    width: 100%;
    height: 28pt;
    margin-bottom: 1em;
}

.proj-header .left, .proj-header .right {
    width: 50%;
    float: left;
}

.proj-header .right {
    text-align: right;
}

.proj-header h2, .proj-header h3,.proj-header h4 {
    margin: 0;
    padding: 0;
}

.proj-header h2 {
    font-size: 14pt;
    font-weight: bold;
}

.proj-header h4 {
    font-weight: lighter;
    font-size: 12pt;
}

.proj-header h3 {
    font-style: italic;
    font-weight: lighter;
    font-size: 12pt;
}

#work ul {
    display: block;
    clear: both;
    padding-left: 15pt;
}

#work iframe {
    width: 100%;
    height: 300px;
    background-color: black;
    margin-bottom: 2em;
}

#work img {
    margin-bottom: 9.5em;

}

@media (max-width: 1199px) {
    #work iframe {
        height: 245px;
    }   
}


@media (max-width: 991px) {
    #work iframe {
        height: 185px;
    }   
}

@media (max-width: 769px) {    
    .col-sm-left, .col-sm-right {
        width: 550px;
        margin: 0 auto 1em;
        float: none;
    }
    
    .col-sm-left {
        margin-bottom: 3em;
    }
    
    #work img, #work iframe {
        height: 290px;
        width: auto;
        display: block;
        margin: 0 auto 2em;
    }
    

    #work iframe {
        width: 520px;
    }

}

@media (max-width: 570px) {
    .col-sm-left, .col-sm-right {
        width: 100%;
    }
    
    #work img, #work iframe {
        width: 100%;
        height: auto;
    }
    
    #work iframe {
        height: 270px;   
    }
}

@media (max-width: 400px) {
    #work iframe {
        height: 200px;   
    }
}

@media (max-width: 368px) {
    .proj-header h2 {
        font-size: 24pt;
    }

    .proj-header h3 {
        font-size: 12pt;
    }
    
    .proj-header {
        height: 24px;
    }
}

@media (max-width: 300px) {
    #work iframe {
        height: 150px;   
    }
}

/*********************/
/* Featured Projects */
/*********************/
/*1170px*/

.project-block {
    display: flex;
    padding: 0 15px;
    margin-bottom: 40px;
}

.featured {
    background-color: #4a4d54;
    padding: 15px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
    width: 880px;
}

.featured h2 {
    margin-top: 0;
    font-size: 15pt;
    font-weight: bold;
}

.featured h2 small {
    font-size: 13pt;
}

.featured h2.left-header {
    float:left;
}

.featured h2.right-header {
    float:right;
}

.featured .description, .featured .flair {
    font-style: italic;
    clear:both;
}

.featured ul {
    padding-left: 15pt;
    color: aqua;
}

.proj-image {
    width: 250px;
    background-color: #82223c;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
}

#proj-image-1 {
    background-image: url('../media/proj-thumbnail-train.png');
    background-position: center right;
    margin-left: 40px;
}

#proj-image-2 {
    background-image: url('../media/proj-thumbnail-train.png');
    background-position: center right;
    margin-right: 40px;
    order: -1;
}

@media (max-width: 1201px) {
    .featured {
        width: 70%;
    }
}

@media (max-width: 769px) {
    .project-block {
        display: block;
        flex-flow: column;
/*        align-items: stretch;*/
    }
    
    .featured {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .proj-image {
        height: 200px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;

    }
    
    #proj-image-1 {
        background-position: 50% 70%;
        margin: 0;
    }
    
    #proj-image-2 {
        background-position: 50% 70%;
        margin: 0;
    }
}

.vimeo {
    width: 682px;
    height: 415px;
    background-color: black;
    display: inline;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: center;
}

#youtube-player {
    float: right;
    margin-right: 0px;
    margin-left: 20px;
}

@media (max-width: 1201px) {
    .vimeo{
        width: 535px;
        height: 350px;
    }
}

@media (max-width: 991px) {
    .vimeo{
        width: 407px;
        height: 300px;
    }
}

@media (max-width: 769px) {
    .vimeo{
        height: 250px;
        width: 100%;
        clear: both;
        margin-bottom: 2em;
    }
    
}

/*****************/
/* More Projects */
/*****************/

.subFlex {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.less-than-three {
    justify-content: space-evenly;
}

#captions {
    display: none;
}


.project {
    margin-bottom: 20px;
    width: 360px;
    height: auto;
}



@media (max-width: 1201px) {
    .project {
        width: 293px;
    }
}

@media (max-width: 991px) {
    .project {
        width: 220px;
    }
}

@media (max-width: 769px) {
    .project {
        width: 160px;
    }

    .lg-sub-html {
        width: 100% !important;
    }
}

@media (max-width: 640px) {
    .project {
        width: 150px;
    }
    
    .subFlex {
        justify-content: space-evenly;
    }
}

@media (max-width: 550px) {
    .project {
        width: 180px;
    }
}

@media (max-width: 480px) {
    .project {
        display: block;
        max-width: 250px;
        width: 100%;
        margin: 0 auto 1em;
    }
    .lg-sub-html {
        bottom: 10% !important;
    }

    .lg-thumb-outer {
        display: none;
    }
}

@media (max-height: 420px) {
    .lg-image {
        max-height: 65% !important;
        max-width: 100% !important;
    }
    .lg-image {
        margin-bottom: 6em;
    }
    
    .lg-thumb-outer {
        display: none;
    }
}

@media (max-height: 320px) {
    .lg-sub-html {
        bottom: 0% !important;
    }
    .lg-sub-html p, .lg-sub-html a {
        font-size: 0.8em !important;
    }
    .lg-image {
        margin-bottom: 7em;
    }
}

/**********************/
/* Lightbox Overrides */
/**********************/

.lg-autoplay-button, .lg-fullscreen, #lg-share, #lg-actual-size, #lg-zoom-in, #lg-zoom-out, #lg-download{
    display: none !important;
}
.lg-backdrop {
    opacity: 0.92 !important;
}

.lg-prev, .lg-next {
    background-color: transparent !important;
}

.lg-sub-html {
    bottom: 15% !important;
    width: 720px !important;
    margin: 0 auto;
    background-color: transparent !important;
    text-align: left !important;
    padding: 5px !important;
}

.lg-sub-html h5, .lg-sub-html h4, .lg-sub-html p {
    color: #F6F9F8;
}

.lg-sub-html h5 {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 18px;
}

.lg-sub-html h4 {
    font-weight: 300 !important;
    font-size: 15px !important;
    font-style: italic;
    margin-bottom: 10px !important;
}

.lg-sub-html a, .lg-sub-html p {
    text-decoration: none;
    font-size: 13.5px !important;
}

@media (max-width: 480px) {
    .lg-sub-html {
        bottom: 10% !important;
    }

    .lg-thumb-outer {
        display: none;
    }
}

@media (max-height: 475px) {
    .lg-sub-html {
        bottom: 0% !important;
    }
}

@media (max-height: 420px) {
    .lg-image {
        max-height: 65% !important;
        max-width: 100% !important;
    }
    .lg-image {
        margin-bottom: 6em;
    }
    
    .lg-thumb-outer {
        display: none;
    }
}

@media (max-height: 320px) {
    .lg-sub-html {
        bottom: 0% !important;
    }
    .lg-sub-html p, .lg-sub-html a {
        font-size: 0.8em !important;
    }
    .lg-image {
        margin-bottom: 7em;
    }
}

/**********/
/* Others */
/**********/

#egf-logo {
    float: right;
    margin-left: 15px;
    width: 100px;
    height: 100px;
}

#others h4 {
    font-weight: 800;
}

#others hr {
    margin-bottom: 2em;
    border-top-color: rgba(0,0, 0,.1);
}

@media (max-width: 769px) {
    #others .other-stuff {
        margin-bottom: 2em;
    }
}

/**************/
/* Contact me */
/**************/

#contact-me ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#contact-me ul li {
    display:inline-block;
}

#contact-me ul li a {
    text-decoration: none;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60px auto;
    transition: all 0.2s ease 0s;
}

#contact-me ul li p {

}

#twitter {
    background-image: url(../media/twitter-logo.png);
}

#linkedin {
    background-image: url(../media/linkedin-logo.png);
}

#github {
    background-image: url(../media/github-logo.png);
}

#mail {
    background-image: url(../media/mail-icon.png);
}

#contact-me ul li a:after {
    border: 12px solid transparent;
    content: "";
    width: 0;
    height: 0;
    position: relative;
    left: 6px;
    top: 23px;
    display: block;
    opacity: 0.0;
    transition: all 0.2s ease 0s ;
    
}

#contact-me ul li a:hover:after {
    opacity: 1.0;
    top: 43px;
    border-bottom: 12px solid #F6F9F8;
}

#contact-me ul li a p{
    color: #292F36;
    padding: 5px;
    position: relative;
    display: inline;
    top: 70px;
    opacity: 0.0;
    transition: all 0.2s ease 0s;
    font-size: 12pt;
}

#contact-me ul li a:hover > p{
    opacity: 1.0;
    top: 90px;
    background-color: #F6F9F8;
}

#contact-me ul li a:hover {
    width: 70px;
    height: 70px;
    background-size: 70px auto;
}

@media (max-width: 480px) {
    #contact-me ul li a {
        width: 40px;
        height: 40px;
        background-size: 40px auto;
    }
    
    #contact-me ul li a:hover {
        width: 50px;
        height: 50px;
        background-size: 50px auto;
    }
    
    #contact-me ul li a:after {
        top: 12px;
    }
    
    #contact-me ul li a:hover:after {
        top: 22px;
    }
    
    #contact-me ul li a p {
        top: 46px;
    }
    
    #contact-me ul li a:hover > p{
        top: 66px;
    }
}

/*************/
/* Copyright */
/*************/

#copyright {
    font-style: italic;
    text-align: center;
    color: #F6F9F8;
    margin-bottom: 0;
    padding: 0.5em 0;
}