body {
	background-color: #F7F5E6;
}

.navbar {
	padding-left: 5%;
	padding-right: 5%;
	min-height: 80px;
	padding-top: 10px;
	
}

.navbar-brand {
	font-size: 2em;
}

#portrait {
	width: 100%;
	
}

header {
	background-image: url("images/background.png");
}

@media screen and (min-width: 768px) {
	.left-button {
		border-right: 1px solid #CCCCCC;
	}
	li {
		min-width: 83px;
	}
}

.row {
	padding-left: 10%;
	padding-right: 10%;
}

#title {
	text-align: right;
	margin-top: 10%;
}

#name {
	font-size: 300%;
}

#project-header {
	background-color: green;
	padding-top: 15px;
	
}

.btn {
	margin-bottom: 15px;
}

.affix {
	top:0;
	width: 100%;
	z-index: 9999 !important;
}

#offset{
	height:80px;
}

#header {
	margin: auto 0;
}

#projects{
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #FFFFFF;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}